[Unit]
Description=tls-server
Requires=network.target
After=network.target

[Service]
Type=simple
ExecStart=/usr/local/bin/tls-server -j2
Restart=always

[Install]
WantedBy=multi-user.target
